<%= render 'shared/page_title', title: @recipe.name %>

<div class="card card-body bg-light col-md-offset-2">
  <h4 class="title-center">Steps</h4>
  <p><%= simple_format(@recipe.description) %></p>
  <% if @recipe.ingredients.any? %>
    <p><small>Ingredients: <%= render @recipe.ingredients %></small></p>  
  <% end %>
  <p><small>Created by <%= @recipe.chef.chefname.capitalize %></small></p>
  <div class="float-right">
    <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
    <p>
      <small><%= time_ago_in_words(@recipe.created_at) %> ago</small>
    </p>
    <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
      <p>
        <small>
          <%= link_to 'Edit this recipe', edit_recipe_path(@recipe) %>
        </small>
      </p>
      <p>
        <small>
          <%= link_to 'Delete this recipe', recipe_path(@recipe), method: :delete,
                                            data: {confirm: 'Are you sure ?'}
          %>
        </small>
      </p>
      <p>
        <small>
          <%= link_to 'Return to recipe list', recipes_path %>
        </small>
      </p>
    <% end %>
  </div>
</div>

<% if logged_in? %>
  <%= render 'shared/errors', obj: @recipe%>

  <div class="row" align="center">
    <div class="col-md-8 col-md-offset-2">
      <h3>Comments</h3>
      <hr>
      <%= form_for([@recipe, @comment], :html => {role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :description %>      
          </div>
          <div class="col-md-8">
            <%= f.text_area :description, rows: 8, class: "form-control", placeholder: "Write your comment", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
          <%= f.submit 'Submit comment', class: "btn btn-primary btn-lg btn-xlarge" %>
          </div>
        </div>
      <% end %>
      <hr>
    </div>
  </div>
<% end %>

<% if @recipe.comments.count > 0 %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Prior Comments: </h3>
        <div id="messages">
          <%= render partial: 'comments/comments', object: @comments %>
        </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Be the first one to comment</h3>
    </div>
  </div>
<% end %>
