<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'MyRecipes', root_path, class: 'navbar-brand', id: 'logo' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="nav-link"><%= link_to 'Home', root_path %></div>
      </li>
      <li class="nav-item">
        <div class="nav-link"><%= link_to 'Chefs', chefs_path %></div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Recipes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-item"><%= link_to 'All recipes', recipes_path %></div>
          <% if logged_in? %>
          <div class="dropdown-item"><%= link_to 'Create recipe', new_recipe_path %></div>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ingredients
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-item"><%= link_to 'All ingredients', ingredients_path %></div>
          <% Ingredient.all.each do |ing| %>
            <div class="dropdown-item"><%= link_to ing.name.capitalize, ingredient_path(ing) %></div>
          <% end %>
          <% if logged_in? %>
            <div class="dropdown-item"><%= link_to 'Add new ingredient', new_ingredient_path %></div>
          <% end %>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <% if logged_in? %>
        <li class="nav-item">
          <div class="nav-link"><%= link_to 'Log out', logout_path, method: :delete %></div>
        </li>
        <li class="nav-item active">
          <div class="nav-link"><%= link_to gravatar_for(current_chef, size: 20), chef_path(current_chef) %></div>
        </li>
        <li class="nav-item active">
          <p><%= 'Admin' if current_chef.admin? %></p>
        </li>
      <% else %>
        <li class="nav-item active">
          <div class="nav-link"><%= link_to 'Login', login_path %></div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>